body {
    background: #C0C0C0;
    text-align: center;
}
input[type="number"]{
    width: 50px;
}
input[type="button"]{
    height: 30px;
    width: 110px;
    background: #000000;
    color: #FFFFFF;
    margin: 30px auto;
    border-radius: 12px;
}
